<img width="400px" src="http://st.gde-fon.com/wallpapers_original/572296_abstraktsiya_tigr_3d_art_2560x1600_www.Gde-Fon.com.jpg">

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render 'comments/show' %>

<h2>Add a comment:</h2>
<%= render 'comments/form_new' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

