<img width="400px" src="http://st.gde-fon.com/wallpapers_original/572296_abstraktsiya_tigr_3d_art_2560x1600_www.Gde-Fon.com.jpg">


<p>
  <strong>Title:</strong>
  <%= @admin.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @admin.text %>
</p>

<h2>Comments</h2>
<%= render @admin.comments %>


<%= link_to 'Edit', edit_article_path(@admin) %> |
<%= link_to 'Back', admins_path %>