<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
        <%= yield %>
    </div>

    <div>
        <%= link_to 'A propos', informations_a_propos_path %> |
        <%= link_to 'CGU', informations_cgu_path %> |

        <div class="container" id="lang">
            <% if cookies[:language] %>
                <%= cookies[:language] %>
            <% end %>
        </div>
        <div id="langchange" >
            <%= link_to "FR", change_language_path(:langue => "FR") %>
            <%= link_to "EN", change_language_path(:langue => "EN") %>
        </div>
    </div>
  </body>

</html>
